@media screen {
  .abt-section {
    gap: 10px;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    background-color: var(--background-light);
    clip-path: polygon(0 2%,100% 0,100% 98%,0 100%);
  }

  .abt-contain {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .abt-info {
    gap: 14px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .abt-h {
    gap: 4px;
    display: flex;
    flex-direction: column;
  }

  .abt-h span {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--primary-color);
  }

  .abt-h h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .abt-h span:last-child {
    width: 20%;
    height: 4px;
    background-color: var(--primary-color);
  }

  .abt-info p {
    font-size: 0.8rem;
  }

  .abt-info li {
    font-size: 0.8rem;
  }

  .abt-info li {
    list-style: square;
    color: var(--primary-color);
  }

  .abt-list {
    gap: 4px;
    display: flex;
    flex-direction: column;
  }

  .abt-steps {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .abt-steps span {
    font-size: 0.9rem;
  }

  .abt-steps h1 {
    font-size: 1rem;
    font-weight: 600;
  }

  .step-contain {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .step-wrap {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .step-icon {
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    box-shadow:  rgba(1, 83, 90, 0.2) 0px 7px 29px 0px;;
  }
  


  .step-icon-c {
    width: 38px;
    height: 38px;
    fill: var(--primary-color);
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .abt-section {
    padding: 50px;
    background-color: var(--background-light);

  }

  .abt-contain {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .abt-info,
  .abt-img {
    flex: 50%;
  }

  .about-image {
    width: 500px;
    height: 100%;
  }

  .step-contain {
    padding: 100px;
    flex-direction: row;
  }

  .step-icon {
    width: 100px;
    height: 100px;
  }
}
