@media screen {
  .companies-component {
    gap: 20px;
    display: flex;
    padding: 60px 10px;
    align-items: center;
  }

  .company-autoscroll {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
 
  .company-container {
    gap: 60px;
    width: 100%;
    display: flex;
    padding: 10px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
  }

  .company-container::-webkit-scrollbar {
    display: none;
  }

  .league-c-img {
    height: 30px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .companies-component {
    padding: 20px 40px;
  }

  .company-autoscroll {
    padding: 0 100px;
  }

  .company-container {
    width: 90%;
  }

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
