@media screen {
  .pop-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap:  10px;
    padding: 10px;
    display: flex;
    position: fixed;
    overflow-y: auto;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--background-light);
  }

  .pop-inner {
    width: 100%;
    display: flex;
    padding: 10px;
    height: fit-content;
    border-radius: 12px;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--primary-color);
  }

  .pop-circle {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
  }

  .pop-exit-icon {
    height: 20px;
    fill: var(--primary-color);
  }

  .pop-up-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pop-up-details h1 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--background-light);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .pop-container {
    width: 50%;
    height: 50%;
    margin: auto;
    overflow-y: hidden;
    border-radius: 18px;
  }

  .pop-sec-d {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
}
